/ClassRoster/target/
/TryException/target/
/MovieDatabase/target/
/SectionThreeUnitTests/nbproject/
/SectionThreeUnitTests/target/
/ClassRoster/nbproject/
/Cribbage/nbproject/
/Cribbage/target/
/DIRacer/target/
/CribbageUs/nbproject/
/CribbageUs/target/
/JDBCExampleStarter/target/
/JDBCTemplateExampleStarter/target/
/JDBCTComplexExampleStarter/target/