<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!-- Bean definitions go here 
        ProductFileDao pDao = new ProductFileDao("files/Products.txt");
        TaxFileDao tDao = new TaxFileDao("files/Taxes.txt");
        OrderFileDao oDao = new OrderFileDao();
        //O P T order
        OrderService service = new OrderService(oDao, pDao, tDao);
        TheBrains controller = new TheBrains(view, service);

        controller.run();
    -->
    <bean id="trainingODao" class="ajplarson.flooringmastery.data.TrainingDao" />
    
     
    
    <bean id="io" class="ajplarson.flooringmastery.ui.ConsoleIO" />
    
    <bean id ="view" class="ajplarson.flooringmastery.ui.View">
        <constructor-arg ref="io" />
    </bean>
    
    <bean id ="pDao" class="ajplarson.flooringmastery.data.ProductFileDao">
        <constructor-arg value="files/Products.txt" />
    </bean>
    
    <bean id ="tDao" class="ajplarson.flooringmastery.data.TaxFileDao">
        <constructor-arg value="files/Taxes.txt" />
    </bean>
    
    <bean id ="oDao" class="ajplarson.flooringmastery.data.OrderFileDao" />
    
    <bean id="service" class="ajplarson.flooringmastery.service.OrderService">
        <constructor-arg ref="oDao" />
        <constructor-arg ref="pDao" />
        <constructor-arg ref="tDao" />
    </bean>
    
    <bean id="controller" class="ajplarson.flooringmastery.controller.TheBrains">
        <constructor-arg ref="view" />
        <constructor-arg ref="service" />
    </bean>
   
</beans>